body {
  background-color: #ffffff;
  font-family: 'Assistant', sans-serif;
  color: #76B778;
}

.navbar-brand img {
  max-height: 50px;
}

.navbar-light .navbar-nav .nav-link {
  color: #76B778;
}

.navbar-light .navbar-nav .nav-link.active {
  font-weight: bold;
  color: #76B778 !important;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #38793b !important;
}

.btn-navbar-right {
  margin-top: -10px !important;
  margin-bottom: -8px !important;
  margin-right: -18px !important;
  height: 77px;
  border-radius: 0;
}

.btn-login {
  background-color: #76B778;
  color: #ffffff;
}

.btn-login:hover {
  background-color: #6ADC6E;
  color: #ffffffbb;
}

header {
  padding: 180px 0 165px;
  margin-top: -79px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
}

header h1, header p {
  color: #ffffff;
}

header h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

header p {
  font-size: 20px;
}

header .btn-get-started {
  background-color: #f04efff6;
  color: #ffffff;
  font-weight: bold;
}

header .btn-get-started:hover {
  background-color: #da6be4f6;
  color: #ffffff;
}

.section-stats {
  margin-top: -50px;
}

.section-stats .stats-detail {
  padding-top: 15px;
  background-color: #ffffff;
  padding-left: 40px;
}

.section-stats h2 {
  font-size: 30px;
  margin-bottom: 0;
}

.section-stats p {
  font-size: 20px;
  font-weight: lighter;
}

.section-populer {
  min-height: 540px;
  margin-top: -50px;
  background-color: #76B778;
  margin-bottom: -230px;
}

.section-populer .section-populer-heading {
  margin-top: 130px;
}

.section-populer h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}

.section-populer p {
  color: #ffffff;
  font-size: 18px;
}

.section-populer-content .section-populer-travel .card-travel {
  min-height: 380px;
  background-color: #8a8585;
  color: #ffffff;
  padding: 30px;
  background-size: cover;
  margin-bottom: 20px;
}

.section-populer-content .section-populer-travel .travel-country {
  font-size: 18px;
  color: #ffffff;
}

.section-populer-content .section-populer-travel .travel-location {
  font-size: 26px;
  color: #ffffff;
}

.section-populer-content .section-populer-travel .travel-button .btn-travel-details {
  background-color: #38793b;
  color: #ffffff;
}

.section-populer-content .section-populer-travel .travel-button .btn-travel-details:hover {
  background-color: #39c240;
  color: #ffffff;
}

.section-networks {
  background-color: #ffffff;
  margin-top: -120px;
  padding-top: 240px;
  padding-bottom: 50px;
}

.section-networks h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-networks p {
  font-size: 18px;
}

.section-networks img {
  max-width: 100%;
}

.section-testimonial-heading {
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f7f9ff));
  background: linear-gradient(#fff 0%, #f7f9ff 100%);
  padding-top: 50px;
  min-height: 506px;
}

.section-testimonial-heading h2 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
}

.section-testimonial-heading p {
  font-size: 18px;
}

.section-testimonial-content {
  margin-top: -300px;
  padding-top: 40px;
}

.section-testimonial-content .card-testimonial {
  padding: 40px 20px 10px;
  border-radius: 11px;
  margin-bottom: 20px;
}

.section-testimonial-content .card-testimonial .testimonial-content {
  min-height: 380px;
}

.section-testimonial-content .card-testimonial h3 {
  font-size: 22px;
}

.section-testimonial-content .card-testimonial .testimonial {
  font-weight: 200;
  font-size: 26px;
  color: #6e6e6e;
  min-height: 160px;
}

.section-testimonial-content .card-testimonial .trip-to {
  font-weight: normal;
  font-optical-sizing: 21px;
  color: #6e6e6e;
}

.section-testimonial-content .card-testimonial hr {
  margin-left: -20px;
  margin-right: -20px;
}

.section-testimonial-content .btn-started {
  background-color: #f04efff6;
  color: #ffffff;
  font-weight: bold;
}

.section-testimonial-content .btn-started:hover {
  background-color: #da6be4f6;
  color: #ffffff;
}

.section-testimonial-content .btn-need-help {
  background-color: #f2f2f2;
  color: #c3c3c3;
  font-weight: bold;
}

.section-testimonial-content .btn-need-help:hover {
  background-color: #da6be4f6;
  color: #ffffff;
}

.section-footer h5 {
  font-weight: bold;
  font-size: 25px;
}

.section-footer a {
  color: #39c240;
}

.section-details-header {
  min-height: 310px;
  background-color: #E4E6EB;
  margin-top: -77px;
}

.section-details-content {
  margin-top: -210px;
  min-height: 100vh;
}

.section-details-content .breadcrumb {
  background-color: transparent;
  padding: 0;
  margin-bottom: 30px;
}

.section-details-content .breadcrumb-item.active {
  font-weight: bold;
  color: #38793b;
}

.card-details {
  padding: 30px;
  border-radius: 11px;
}

.card-details h1 {
  font-size: 26px;
}

.card-details h2 {
  font-size: 20px;
}

.card-details p {
  font-size: 18px;
  color: #b1b1b1;
}

.card-details .payment-instruction {
  font-weight: 300;
  font-size: 15px;
  color: #b1b1b1;
}

.card-details .item-bank .description {
  margin-left: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  float: left;
}

.card-details .item-bank .description h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 5px;
  color: #79b47b;
}

.card-details .item-bank .description p {
  font-weight: 450;
  margin-bottom: 0;
  font-size: 15px;
  color: #79b47b;
}

.card-details .item-bank .bank-image {
  width: 45px;
  height: 45px;
  float: left;
}

.card-details .trip-informasi th {
  font-weight: 300;
  font-size: 18px;
  color: #6ADC6E;
}

.card-details .trip-informasi td {
  font-weight: 300;
  font-size: 18px;
  color: #d1d1d1;
}

.card-details .checkout-informasi th {
  font-weight: 300;
  font-size: 15px;
  color: #6ADC6E;
}

.card-details .checkout-informasi td {
  font-weight: 300;
  font-size: 15px;
  color: #d1d1d1;
}

.card-details .checkout-informasi .harga {
  font-weight: bold;
  color: #76B778;
}

.card-details .disct {
  font-weight: 300;
  font-size: 15px;
  color: #d1d1d1;
}

.card-details .gallery .xzoom-container {
  display: block;
}

.card-details .gallery .xzoom-container .xzoom {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  margin-bottom: 10px;
}

.card-details .gallery .xzoom-container .xactive {
  border: 10px solid #76B778;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.member .member-img {
  width: 40px;
  height: 40px;
}

.member h3 {
  font-weight: 400;
  font-size: 15px;
  color: #39c240;
}

.member .gj-datepicker .datepicker {
  border-right: none;
}

.member .gj-datepicker .input-group-append .btn {
  padding-right: 5px;
}

.member .btn-add-now {
  background-color: #38793b;
  color: #fff;
  margin-left: 10px;
}

.member .btn-add-now:hover {
  background-color: #6ADC6E;
  color: #fff;
}

.features {
  margin-top: 24px;
}

.features h3 {
  font-size: 18px;
  color: #39c240;
  margin-bottom: 0;
}

.features p {
  margin-bottom: 0;
  font-size: 15px;
}

.features .description {
  margin-left: 10px;
  overflow: hidden;
  float: left;
}

.features .featured-image {
  width: 45px;
  height: 45px;
  float: left;
}

.join-container {
  margin-top: -17px;
}

.btn-join-now {
  background-color: #76B778;
  color: white;
  border-radius: 0;
}

.btn-join-now:hover {
  background-color: #6ADC6E;
  color: white;
}

.card-right {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.section-success {
  height: 80vh;
}

.section-success h3 {
  font-weight: 600;
  font-size: 26px;
  color: #39c240;
}

.section-success p {
  font-weight: 300;
  font-size: 16;
  color: #b1b1b1;
}

.section-success .btn-homepage {
  border-radius: 4px;
  background-color: #38793b;
  color: #fff;
}

.section-success .btn-homepage:hover {
  background-color: #62d167;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */